/* Small device */

@media only screen and (max-width:"600px") {
    header{
        background-color: #ce72af;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
    height: 20vh;
    background-color: #b9385f;
    color: rgb(141, 87, 202);
    padding: 20px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}
nav ul li a{
    color: rgb(253, 5, 100);
    font-weight: bold;
    text-decoration: none;
}

/* section 1 part here */
 

header{
    background-color: aqua;
}
.container{
    max-width: 200px;
    
}
.hero-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.hero-img{
    flex-basis: 500px;
    list-style: none;
}

.hero-writing{
    text-align: start;
    flex-basis: 500px;
    
}
.hero-writing h1{
    font-size: 85px;
    line-height: 100px;
}

.hero-writing a button{
    margin-top: 30px;
    background-color: rgb(219, 134, 64);
}

/* section 2 part is here */

header{
    background-color: rgb(71, 226, 32);
}

.container2{
    width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 200px;
 
    
}
.hero-container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.hero2-img2{
    flex-basis: 500px;
    list-style: none;
}

.hero-writing2{
    text-align: start;
    flex-basis: 500px;
}
.hero-writing2 h1{
    font-size: 70px;
    line-height: 100px;
}
.hero-writing2 a button{
    margin-top: 30px;
    
}  

/* section 3 part is here */

.hero-writing3{
    text-align: center;
    flex-flow: 400px;
}
.hero-writing3 h1{
    font-size: 70px;
    line-height: 100px;
}

.hero-writing2 a button{
    margin-top: 30px;
    line-height: 100px;
}        

.container3{
    width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.hero-container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.hero2-img2{
    flex-basis: 500px;
    list-style: none;
}

/* section 4 part is here */

.container4{
    max-width: 200px;
    
}
.hero-container4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.hero4-img4{
    flex-basis: 500px;
    list-style: none;
}

.hero-writing4{
    text-align: start;
    flex-basis: 500px;
    
}
.hero-writing4 h1{
    font-size: 85px;
    line-height: 100px;
}

.hero-writing4 a button{
    margin-top: 30px;
    background-color: rgb(219, 134, 64);
}
